# Ignore dependencies
node_modules
.yarn
.pnp
.pnp.js

# Ignore build artifacts
.next
out
storybook-static
dist

# Ignore local environment files
.env
.env.local
.env.development
.env.production
.env.test

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore editor/project files
.idea
.vscode
.github
.DS_Store
*.swp

# Ignore Jest test coverage
coverage
jest-cache
jest-report

# Ignore Next.js static cache
.cache